@media (min-width:550px){
    main .form-control{
        width: 10rem;
    }

    .modal > .dialog{
        width: 31.25rem;
    }

    
    .modal .dialog .title-failed{
        font-size:18px;
    }

.modal .dialog .title-sucess{
    margin-bottom:1.2rem;
    color :rgb(27, 170, 58);
    font-size:16px;
}

    .modal .dialog .amend,
    .modal .dialog .back{
        margin-bottom:0.5rem;
    }
}

@media (min-width:950px){
    .content{
        width:80%;
        max-width: 1240px;
        margin: 0 auto;
    }
    header .mobile{
        position: static;
        transform: translateX(0%);
    }

    header nav ul{
        flex-direction: row;
    }
    
    header nav li{
        margin-bottom: 0;
        margin-left:0.5rem;
    }
    
    header .icon-menu{
        display: none;
    }
    main h1{
        margin:4rem 0;
        font-size:3rem;
    }

    main .form-control{
        width: auto;
    }

    main .form{
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "year month day type type type"
                            "description description description description value button";
        grid-gap:1rem;
    }
    main #description{
        width: auto;
    }

    main .btn{
        width: 50px;
        justify-self: flex-end;
    }

    .listing .table{
        width: 80vw;
    }
}
